@import "../../styles/media";
$textPrimaryColor:rgba(94, 94, 94, 0.815);

@mixin base-title {
  text-align: center;
  color     : $textPrimaryColor;

  @include for-web {
    font-size: 1.5rem;
  }

  @include for-phone {
    font-size: 1.2em;
  }
}


:host {

  .text-gray {
    margin-top: 1rem;
    color     : $textPrimaryColor;
  }

  font-family: 'Segoe UI',
  Tahoma,
  Geneva,
  Verdana,
  sans-serif;


  &>* {
    @include for-phone {
      margin: 1rem 0;
    }

    @include for-web {
      margin: 3rem 0;
    }
  }

  .title {
    @include base-title;
  }

  ul {

    @include for-phone {
      padding: 0 1rem;
      margin : 4rem 0;
    }

    display       : flex;
    flex-direction: column;
    gap           : 1rem;

    li {
      color      : $textPrimaryColor;
      line-height: 1.6;

      a {
        margin-right: 0.5rem;
        color       : $textPrimaryColor
      }
    }

    ;
  }
}
