:host {
  .title {
    margin-top : 4rem;
    font-size  : 1.5rem;
    text-align : center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color      : rgba(41, 39, 39, 0.815);
  }

  .technologies {
    font-family          : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top           : 2rem;
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 2rem;

    .part {
      .name {
        color: rgba(41, 39, 39, 0.815);
      }

      ul {
        list-style-type: none;

        li {
          margin-bottom: 0.3rem;
          margin-top   : 0.3rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .histories {
    margin-top : 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .history {
      display      : flex;
      gap          : 3rem;
      margin-bottom: 2rem;

      .image {
        height       : 100px;
        width        : 100px;
        overflow     : hidden;
        border-radius: 50%;
      }

      .info {
        flex       : 5;
        line-height: 1.2rem;

        .designation {
          font-size  : 0.9rem;
          font-weight: 600;
        }

        .company-name {
          font-size: 0.9rem;
        }

        .duration {
          font-size: 0.8rem;
        }

        ul {
          margin-top           : 2rem;
          /* list-style-type   : none; */
          display              : flex;
          flex-direction       : column;
          gap                  : 5px;

          p {
            font-size: 0.7rem;
            margin   : 1rem 0;
          }

          li {
            margin-left: 10%;
            font-size  : 0.9rem;
            position   : relative;

            /* padding: 2px 20px; */

            /* &::before {
                            content         : '';
                            background-color: rgba(80, 73, 73, 0.123);
                            position        : absolute;
                            bottom          : 0px;
                            top             : 0px;
                            left            : 6px;
                            width           : 3px;
                        }

                        &::after {
                            content      : '';
                            position     : absolute;
                            left         : 1px;
                            top          : 0px;
                            height       : 12px;
                            width        : 12px;
                            background   : rgba(128, 128, 128, 0.788);
                            border-radius: 50%;
                        } */
          }
        }
      }
    }
  }

  .educations {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align : center;
    line-height: 1.5rem;

    .institute {
      margin-top: 2.5rem;

      .duration {
        font-weight: 600;
      }

      .designation {
        font-size: 1.2rem;
      }


      .note {

        font-size: 0.8rem;
      }

      ul {
        text-align           : left;
        margin-top           : 2rem;
        /* list-style-type   : none; */
        display              : flex;
        flex-direction       : column;
        gap                  : 5px;

        p {
          font-size: 0.9rem;
          margin   : 1rem 0;
        }

        li {
          margin-left: 5%;
          font-size  : 0.9rem;
          position   : relative;
        }
      }
    }
  }

  footer {
    font-family  : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align   : center;
    margin-bottom: 5rem;

    p {
      margin-top: 1rem;
    }
  }
}