<h1 class="title">Stuff I Work With</h1>

<section class="technology_wrapper">
  <div class="technology_container" *ngFor="let technology of technologies">
    <p class="technology_name">{{ technology.type }}</p>
    <ul class="technology_list">
      <li class="technology_listItem" *ngFor="let name of technology.list">
        {{ name }}
      </li>
    </ul>
  </div>
</section>

<h1 class="title">Employment History</h1>

<section class="employment_history_wrapper">
  <div
    class="employment_history_container"
    *ngFor="let employmentHistory of employmentHistories"
  >
    <img
      class="employment_history_image"
      [src]="employmentHistory.companyLogo"
      [alt]="employmentHistory.companyName"
    />
    <div class="employment_history_information">
      <p class="employment_history_designation">
        {{ employmentHistory.designation }}
      </p>
      <a
        class="employment_history_companyName"
        [href]="employmentHistory.companyUrl"
        >{{ employmentHistory.companyName }}</a
      >
      <p class="employment_history_duration">
        {{ employmentHistory.duration }}
      </p>
      <ul class="employment_history_list">
        <p class="employment_history_intro">CONTRIBUTIONS</p>
        <li
          class="employment_history_listItem"
          *ngFor="let contribute of employmentHistory.contributions"
        >
          {{ contribute }}
        </li>
      </ul>
    </div>
  </div>
</section>

<h1 class="title">Education</h1>

<section class="education_wrapper">
  <div class="education_container" *ngFor="let education of educations">
    <p class="education_duration">{{ education.duration }}</p>
    <p class="education_degree">
      {{ education.degree }}
    </p>
    <p class="education_institute">
      {{ education.instituteName }}
    </p>
    <!-- <p class="education_note">
      {{ education.note }}
    </p> -->

    <ul class="education_list">
      <p class="education_activities">Activities</p>
      <li
        class="education_listItem"
        *ngFor="let activity of education.activities"
      >
        {{ activity }}
      </li>
    </ul>
  </div>
</section>

<footer>
  <h1 class="title">Have something so say ?</h1>
  <p>
    Send an email to
    <a href="mailto:sefatanam@gmail.com">sefatanam&#64;gmail.com</a> or find me
    on
    <a href="https://www.linkedin.com/in/SefatAnam/">LinkedIn</a>
  </p>
</footer>
