<p class="title">Stuff I Work With</p>

<section class="technologies">
  <div class="part" *ngFor="let n of [].constructor(6)">
    <p class="name">Languages</p>
    <ul>
      <li>Go</li>
      <li>Go</li>
      <li>Go</li>
      <li>Go</li>
      <li>Go</li>
    </ul>
  </div>
</section>

<p class="title">Employment History</p>

<section class="histories">
  <div class="history" *ngFor="let n of [].constructor(2)">
    <img class="image" src="../../assets/demo.png" alt="" />

    <div class="info">
      <p class="designation">Software Engineer</p>
      <p class="company-name">Metadesign Solutions</p>
      <p class="duration">March 1, 2022 - Present</p>

      <!-- <ul >
                <p>CONTRIBUTIONS</p>
                <li *ngFor="let n of [].constructor(7)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur facilis commodi, et asperiores expedita eius iusto, natus hic exercitationem quia vitae tenetur totam consequuntur quisquam est quam iste eos. Debitis.</li>
            </ul> -->

      <ul>
        <p>CONTRIBUTIONS</p>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          quasi sint sed eligendi soluta et nam optio voluptas quia culpa sequi
          veritatis cupiditate praesentium, nesciunt eveniet fugit enim unde
          sit?
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          quasi sint sed eligendi soluta et nam optio voluptas quia culpa sequi
          veritatis cupiditate praesentium, nesciunt eveniet fugit enim unde
          sit?
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          quasi sint sed eligendi soluta et nam optio voluptas quia culpa sequi
          veritatis cupiditate praesentium, nesciunt eveniet fugit enim unde
          sit?
        </li>
      </ul>
    </div>
  </div>
</section>

<p class="title">Education</p>

<section class="educations">
  <div class="institute" *ngFor="let n of [2, 3, 4]">
    <p class="duration">January 2018 - April 2022</p>
    <p class="designation">Bachelor Of Science In Computer Science (Bsc)</p>
    <p class="name">Atish Dipankar University of Science & Technology</p>
    <p class="note">
      N/B:Unfortunately, Takes some extra time to complete my graduation for
      university fault.
    </p>

    <ul>
      <p>Activities</p>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        quasi sint sed eligendi soluta et nam optio voluptas quia culpa sequi
        veritatis cupiditate praesentium, nesciunt eveniet fugit enim unde sit?
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        quasi sint sed eligendi soluta et nam optio voluptas quia culpa sequi
        veritatis cupiditate praesentium, nesciunt eveniet fugit enim unde sit?
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        quasi sint sed eligendi soluta et nam optio voluptas quia culpa sequi
        veritatis cupiditate praesentium, nesciunt eveniet fugit enim unde sit?
      </li>
    </ul>
  </div>
</section>

<footer>
  <p class="title">Have something so say ?</p>
  <p>
    Send an email to
    <a href="mailto:sefatanam@gmail.com">sefatanam@gmail.com</a> or find me on
    <a href="http://">linkedIn</a>
  </p>
</footer>
