<p class="title">Stuff I Work With</p>

<section class="technology_wrapper">
  <div
    class="technology_container"
    *ngFor="let technology of technologies | async"
  >
    <p class="technology_name">{{ technology.type }}</p>
    <ul class="technology_list">
      <li class="technology_listItem" *ngFor="let name of technology.list">
        {{ name }}
      </li>
    </ul>
  </div>
</section>

<p class="title">Employment History</p>

<section class="employment_history_wrapper">
  <div
    class="employment_history_container"
    *ngFor="let employmentHistory of employmentHistories | async"
  >
    <img
      class="employment_history_image"
      [src]="employmentHistory.companyLogo"
      [alt]="employmentHistory.companyName"
    />
    <div class="employment_history_information">
      <p class="employment_history_designation">
        {{ employmentHistory.designation }}
      </p>
      <a
        class="employment_history_companyName"
        [href]="employmentHistory.companyUrl"
        >{{ employmentHistory.companyName }}</a
      >
      <p class="employment_history_duration">
        {{ employmentHistory.duration }}
      </p>
      <ul class="employment_history_list">
        <p class="employment_history_intro">CONTRIBUTIONS</p>
        <li
          class="employment_history_listItem"
          *ngFor="let contribute of employmentHistory.contributions"
        >
          {{ contribute }}
        </li>
      </ul>
    </div>
  </div>
</section>

<p class="title">Education</p>

<section class="education_wrapper">
  <div class="education_container" *ngFor="let n of [2]">
    <p class="education_duration">January 2018 - April 2022</p>
    <p class="education_degree">
      Bachelor Of Science In Computer Science (Bsc)
    </p>
    <p class="education_institute">
      Atish Dipankar University of Science & Technology
    </p>
    <p class="education_note">
      N/B:Unfortunately, Takes some extra time to complete my graduation for
      university fault.
    </p>

    <ul class="education_list">
      <p class="education_activities">Activities</p>
      <li class="education_listItem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        quasi sint sed eligendi soluta et nam optio voluptas quia culpa sequi
        veritatis cupiditate praesentium, nesciunt eveniet fugit enim unde sit?
      </li>
    </ul>
  </div>
</section>

<footer>
  <p class="title">Have something so say ?</p>
  <p>
    Send an email to
    <a href="mailto:sefatanam@gmail.com">sefatanam@gmail.com</a> or find me on
    <a href="http://">linkedIn</a>
  </p>
</footer>
