@import '../styles/media.scss';

header {
  // @include for-web {
  position             : sticky;
  top                  : 0;
  left                 : 0;
  z-index              : 1;
  background           : white;
  display              : flex;
  justify-content      : center;
  color                : rgb(59, 68, 80) !important;
  box-shadow           : 0 2px 2px 0 rgba(128, 128, 128, 0.075);
  background: transparent;
    backdrop-filter: blur(5px);

  nav {
    ul {
      display        : flex;
      list-style-type: none;
      gap            : 2rem;
      padding        : 1rem 0;
      align-items    : center;

      @include for-phone {
        gap: 1rem;
      }


      li {
        cursor       : pointer;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid gray;
        }

        a {
          text-decoration: none;
          color          : rgb(59, 68, 80);
        }
      }
    }
  }

  // }
}

main {
  @include for-web {
    width : 800px;
    margin: 0 auto;
  }

  @include for-phone {
    padding: 1em;
  }
}