<p class="name">
  <span> Sefat Anam </span>
</p>
<p class="description">
  Self-learned full-stack developer. Have an open-source community nixgram on
  GitHub to help junior geeks. Work with versatile technology because that's my
  dream. Try to build up a habit to know what's going on under the hood until
  things do not seem like magic. <br /><br />
  Ask me about .NET, Angular, React & Ionic. Love
  <span style="color: red">❤</span> to develop cross-platform desktop, web &
  phone application.
</p>

<section>
  <p class="title">Here are some of my articls...</p>
  <ul class="articles">
    <li class="article" *ngFor="let n of [].constructor(5)">
      <p>April 12th,2022</p>
      <p>Easy Guide to Azure Blob Storage for .NET Developers</p>
    </li>
  </ul>
</section>
