@import '../../styles/media';

@mixin base-name {
  color      : var(--primaryTextColor);
  font-family: 'Fredericka the Great';
  font-size  : 3.5em;
  margin-top : 4rem;
}

@mixin base-description {

  color      : var(--primaryTextColor);
  font-weight: 400;
  line-height: 28px;
  font-size  : 1.2em;
}

@mixin base-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size  : 1.2em;
}

@mixin base-title {

  font-weight: 400;
  opacity    : 0.7;
}

@mixin base-article($align-items, $pMargin, $pPosition, $mFlexDirection, $mGap) {

  list-style-type: none;
  text-align     : left;

  .article {

    align-items: $align-items;
    display    : flex;
    padding    : 1rem 0;

    flex-direction: $mFlexDirection;
    gap           : $mGap;

    p {
      font-size  : 0.8em;
      margin-left: $pMargin;
      opacity    : 0.8;
    }

    a {
      border-bottom  : 1px solid white;
      color          : var(--primaryTextColor);
      cursor         : pointer;
      position       : $pPosition;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid var(--primaryTextColor);
      }
    }
  }
}

:host {

  &>* {
    @include base-text;
    margin-top: 1rem;
  }

  --primaryTextColor: rgb(75, 85, 99);

  .name {
    @include base-name;
  }

  .description {
    @include base-description;
  }

  .title {
    @include base-title;
  }

  .articles {
    @include for-web {
      @include base-article(center, -20%, absolute, row, 0)
    }

    @include for-phone {
      @include base-article(left, 0%, relative, column, 0.2)
    }
  }


}