<ng-container *ngIf="developerInfo | async as devInfo">
  <p class="developer_name">
    <span> {{ devInfo.name }} </span>
  </p>
  <p class="developer_description">{{ devInfo.description }} <br /><br /></p>
</ng-container>

<ul class="developer_article_wrapper">
  <p class="developer_title">Here are some of my articls...</p>
  <li
    class="developer_article_container"
    *ngFor="let article of articles | async"
  >
    <p>{{ article.publish_date }}</p>
    <a [href]="article.link" target="_blank">{{ article.title }}</a>
  </li>
</ul>
