@import '../../styles/media';

@mixin base-name {
  color: var(--primaryTextColor);
  text-transform: capitalize;
  @include for-web{
    font-size     : 3.5rem;
  }
  @include for-phone{
    font-size     : 2.5rem;
  }
}

@mixin base-description {
  color      : var(--primaryTextColor);
}

@mixin base-title {
  font-size: x-large;
}

@mixin base-article($align-items, $pMargin, $pPosition, $mFlexDirection, $mGap) {
  align-items   : $align-items;
  display       : flex;
  padding: 0.5rem 0;
  flex-direction: $mFlexDirection;
  gap           : $mGap;

  p {
    margin-left: $pMargin;
  }

  a {
    border-bottom  : 1px solid transparent;
    color          : var(--primaryTextColor);
    cursor         : pointer;
    position       : $pPosition;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid var(--primaryTextColor);
    }
  }
}

:host {

  --primaryTextColor: canvastext;

  .heading{
    display: grid;
    align-items: baseline;
    gap: 0.4em;
  }

  &>* {
    margin-top: 1rem;
  }

  .developer {
    &_name {
      display: flex;
      align-items: baseline;
      span{
        @include base-name;
      }

      app-intro{
        p{
          color: rebeccapurple
        }
      }
    }

    &_description {
      @include base-description;
    }

      &_article {
      &_title {
          @include base-title;
          padding-bottom: 1rem;
        }

      &_wrapper {
        list-style-type: none;
      }

      &_container {
        @include for-web {
          @include base-article(center, -20%, absolute, row, 0);
        }

        @include for-phone {
          @include base-article(left, 0%, relative, column, 0.2);
        }
      }
    }
  }
}