<ng-container *ngIf="developerInfo as devInfo">
  <h1 class="developer_name">
    <span> {{ devInfo.name }} </span>
  </h1>

  <p class="developer_description">{{ devInfo.description }} <br /><br /></p>
</ng-container>

<ul class="developer_article_wrapper" *ngIf="articles as all_articles">
  <p class="developer_article_title">
    Writting ({{ all_articles.length }} articles)
  </p>
  <li class="developer_article_container" *ngFor="let article of all_articles">
    <p>{{ article.publish_date }}</p>
    <a [href]="article.link" target="_blank">{{ article.title }}</a>
  </li>
</ul>
